# Credit Risk Evaluator

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split

# Prediction

I think logistic regression can perform better than random forest. Logistic regression performs well when there are less noise variables and the variables in this particular dataset all seem to be relevant. Logistic regression is also better with quantitative variables unlike random forest with categorical variables.

In [2]:
# Import the data

lending_path =  "lending_data.csv"
lending_data = pd.read_csv(lending_path)
lending_data.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [3]:
# Split the data into X_train, X_test, y_train, y_test

X=lending_data.drop('loan_status',axis=1)
y=lending_data['loan_status'].values
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
X_train.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
63243,8900.0,6.893,45500,0.340659,3,0,15500
36991,9000.0,6.932,45800,0.344978,3,0,15800
39985,8900.0,6.896,45500,0.340659,3,0,15500
63047,9000.0,6.961,46100,0.349241,3,0,16100
49913,8400.0,6.712,43800,0.315068,3,0,13800

In [4]:
# Create a StandardScater model and fit it to the training data


from sklearn.preprocessing import StandardScaler


X_scaler = StandardScaler()
X_scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [7]:
# Train a Logistic Regression model print the model score (unscaled)

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)
print(f"Logistic Regression unscaled Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Logistic Regression unscaled Testing Data Score: {classifier.score(X_test, y_test)}")

Logistic Regression unscaled Training Data Score: 0.9919177328380795
Logistic Regression unscaled Testing Data Score: 0.9924680148576145

In [8]:
# Logistic Regression scaled

classifier = LogisticRegression()
classifier.fit(X_train_scaled, y_train)
print(f"Logistic Regression Scaled Training Data Score: {classifier.score(X_train_scaled, y_train)}")
print(f"Logistic Regression Scaled Testing Data Score: {classifier.score(X_test_scaled, y_test)}")

Logistic Regression Scaled Training Data Score: 0.9941188609162196
Logistic Regression Scaled Testing Data Score: 0.9941704498555509

In [13]:
# Train a Random Forest Classifier model and print the model score (unscaled)

from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=1,n_estimators=500).fit(X_train, y_train)
print(f'Random Forest Unscaled Training Score: {clf.score(X_train, y_train)}')
print(f'Random Forest Unscaled Testing Score: {clf.score(X_test, y_test)}')

Random Forest Unscaled Training Score: 0.9971970009629936
Random Forest Unscaled Testing Score: 0.9922100701609575

In [14]:
# Random Forest scaled

clf = RandomForestClassifier(random_state=1,n_estimators=500).fit(X_train_scaled, y_train)
print(f'Random Forest scaled Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Random Forest scaled Testing Score: {clf.score(X_test_scaled, y_test)}')

Random Forest scaled Training Score: 0.9971970009629936
Random Forest scaled Testing Score: 0.991900536524969

# Conclusion

Logistic regression generally performed better than Random Forest although all the scores are very similar.